<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:style="http://schemas.android.com/apk/res-auto"
    package="com.group4.smartaccess">

    <uses-permission android:name="android.permission.NFC" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".RoomActivity"
            android:parentActivityName=".ConsumerModeActivity"></activity>
        <activity
            android:name=".ReservationActivity"
            android:parentActivityName=".ConsumerModeActivity"/>
        <activity
            android:name=".AccountActivity"
            android:parentActivityName=".ConsumerModeActivity"/>
        <activity
            android:name=".CheckInSuccessfullyActivity"
            android:parentActivityName=".KioskCheckInActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".CheckOutSuccessfulActivity"
            android:parentActivityName=".KioskCheckoutActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".KioskCheckoutActivity"
            android:parentActivityName=".KioskModeActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".KioskReservationActivity"
            android:parentActivityName=".KioskModeActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".KioskCheckInActivity"
            android:parentActivityName=".KioskReservationActivity"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.nfc.action.NDEF_DISCOVERED" />

                <category android:name="android.intent.category.DEFAULT" /> <!-- TODO check if this line causes NFC to relaunch app -->
                <data android:mimeType="application/vnd.com.royce.nfcapp_04" /> <!-- Dont Forget this line -->
            </intent-filter>
        </activity>
        <activity
            android:name=".AdminModeActivity"
            android:parentActivityName=".LoginScreenActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".KioskModeActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".ConsumerModeActivity"
            android:label="@string/title_activity_consumer_mode"
            android:launchMode="singleTop" />
        <activity
            android:name=".RegisterScreenActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".LoginScreenActivity"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>